@import './variables';

@media only screen and (max-width: 1023px){

}

@media only screen and (min-width: 1024px){
    .about-card{
        height: 70vh;
        width: 40%;

        padding: 1em;
        padding-top: 2em;
    }

    .para-about{
        color: rgba(255, 255, 255, 0.836);
        line-height: 1.4em;
        font-size: large;
        text-align: center;
        
    }
}