@import './variables';

@media only screen and (max-width: 1023px){
    
}

@media only screen and (min-width: 1024px){
    .coming-soon-card{
        width: 100vw;
        background-color: $cardBGcolor;
        height: 90vh;
        margin-top: 1em;
    }
}