@import './variables';

@media only screen and (max-width: 1023px){

}

@media only screen and (min-width: 1024px){
   .endorsed-creator-grid{
       width: 100vw;
       height: 90%;
       background-color: $pageBGcolor;
    
   }

   .endorsed-creator-card{
       width: 100%;
       height: 100%;
       background-color: $cardBGcolor; 
   }

   .content-header-end{
      widows: 50%;
      text-align: center;
      color: white;
      margin-top: 2em;
   }
   
   .grid-endorse{
       margin-top: 1.5em;
       margin-left: 15vw;
       width: 70vw;
       height: 70%;
       display: grid;
       grid-template-columns: repeat(4, 1fr);
       padding-top: 1em;
       border-top: 2px solid white;
       grid-gap: 1em;
   }
}