@import './variables';

@media only screen and (max-width: 1023px){
    .footer-wrapper{
        height: 100%;
        width: 100%;
        background-image: linear-gradient(rgb(26, 25, 25), black);
        overflow-x: hidden;
        flex-direction: column;
        display: flex;
        padding-top: 1em;
    }

    .site-map{
        height: 60vh;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95vw;
        padding-left: 1em;
    }

    .support-me{
        border-bottom: 1px solid rgba(255, 255, 255, 0.374);
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        padding: 1em;
    }

    .support-me-link{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
    }


    .support-header{
        color: rgb(230, 227, 227);
        font-size: x-large;
    }

    .support-para{
        font-size: large;
        margin-top: 1em;
        margin-bottom: 1em;
        width: 80%;
        text-align: center;
        color: rgba(255, 255, 255, 0.537);
    }

    .support-me-btn{
        width: 50vw;
        height: 7vh;
        margin-top: 1em;
        background-color: #303030;
        border: 2px solid white;
        color: white;
    }

    .support-me-btn:hover{
       
        background-color: #3d3c3c;
        border: 2px solid rgb(189, 171, 171);
        color: white;
    }

    .footer-privacy{
        height: 10vh;
        background-color: #0f0f0f;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 1em;
        justify-content: center;
    }

    .privacy{
        color: rgba(255, 255, 255, 0.627);
        
        margin-left: 1em;
        height: 10vh;
        font-size: xx-small;

    }
}







@media only screen and (min-width: 1024px){
    .footer-wrapper{
        height: 60vh;
        width: 100%;
        background-image: linear-gradient(rgb(26, 25, 25), black);
        overflow-x: hidden;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 90% 10%;
    }

    .footer-privacy{
        grid-row: 2;
        grid-column: 1/4;
        background-color: #1d1d1d;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .privacy{
        color: rgba(255, 255, 255, 0.627);
        margin-left: 3em;
        font-size: small;
        text-align: center;
    }


    .support-me{
        margin-top: 3em;
        padding-left: 1em;     
        height: 70%;
        display: flex;
        flex-direction: column;
    }

    .site-map{
        margin-top: 3em;
        padding-left: 1em;
        
        height: 70%;
        display: flex;
        flex-direction: column;
    }

    .support-header{
        color: rgb(230, 227, 227);
        font-size: x-large;
        text-align: center;
    }

    .support-para{
        margin-top: 1em;
        font-size: medium;
        margin-bottom: 2em;
        width: 50%;
        margin-left: 25%;
        color: rgba(255, 255, 255, 0.537);
        text-align: center;
    }

    .support-me-btn{
        width: 15vw;
        height: 5vh;
        margin-top: 1em;
        background-color: #303030;
        border: 2px solid $maincolor;
        color: white;
    }

    .support-me-btn:hover{
        cursor: pointer;
        width: 15vw;
        height: 5vh;
        background-color: #585656;
        border: 2px solid rgb(60, 168, 197);
        color: white;
    }

    .support-me-link{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}