@import './variables';

.nav-btn{
    position: absolute;
    top: 2vh;
    right: 3vh;
    height: 7vh;
    width: 7vh;
    border: 1px solid $maincolor; 
    background-color: rgb(20, 20, 20);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
    cursor: pointer;
    &:hover{
        transform: scale(1.1); 
    }
}

.nav-menu-pull{
    position: fixed;
    height: 100vh;
    width: 0vw;
    display: grid;
    grid-template-columns: 20% 80%;
    z-index: 1000;
    transition: 0.7s;
}

.open-menu{
    width: 100vw;
}

.nav-menu{
    background-color: #303030;
}


.nav-exit{
    background-color: #1b1b1b;
    
}

.nav-icon{
  
    height: 4vh;
    width: 4vh;
    filter: brightness(0) invert(0.4);
}

   
.exit-btn{
    font-size: xx-large;
    color: white;
    margin-top: 2em;
    transition: 0.7s;
    margin-left: 0.6em;
    font-family: sans-serif;
    cursor: pointer;
    &:hover{
        opacity: 0.5;
        transform: scale(0.8); 
    }
}

.nav-menu{
    background-color: #303030;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu-item-nav{
    border-bottom: 1px solid lightgray;
    width: 100%;
    padding: 2em;
    
}