@import './variables';

.landing-router{

}




@media only screen and (max-width: 1023px){
    .landing-router{
        height: 40%;
    }

    .consult-btn{
        margin-top: 4em;
        height: 7vh;
        width: 60vw;
        border: 2px solid $bordercolor;
        background-color: #303030;
        color: white;
        border-radius: 50px;
        transition: 0.6s;
        cursor: pointer;
        &:hover{
            background-color: $bordercolor;
            
        }
    }
}

@media only screen and (min-width: 1024px){

    .landing-router{
        height: 30%;
        width: 50%;
        padding: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .consult-btn{

        height: 7vh;
        width: 20vw;
        background-color: #303030;
        color: white;
        border: 2px solid $bordercolor;
        border-radius: 50px;
        transition: 0.6s;
        cursor: pointer;
        &:hover{
            background-color: $bordercolor;
            transform: scale(0.9);
        }
    }
    
}