@import './variables';

@media only screen and (max-width: 1023px){
  .links-profile-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1.5em;
  }

  .links-profile-header{
    color: white;
    text-align: center;
    font-size: xx-large;
  }

  
  .links-profile-para{
    color: rgba(255, 255, 255, 0.714);
    width: 70%;
    margin-top: 1em;
    text-align: center;
    font-size: large;
  }


  .link-container{
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 11vh;
    padding: 0.5em;
    background-color: #121212;
    border: 2px solid rgba(255, 255, 255, 0.279);
  }

}

@media only screen and (min-width: 1024px){

  .links-profile-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1.5em;
  }

  .links-profile-header{
    color: white;
    text-align: center;
    font-size: xx-large;
  }

  .links-profile-para{
    color: rgba(255, 255, 255, 0.714);
    width: 70%;
    margin-top: 1em;
    text-align: center;
    font-size: larger;
  }

  .link-container{
      margin-top: 1em;
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 10vh;
      padding: 1em;
      background-color: #121212;
      border: 2px solid rgba(255, 255, 255, 0.279);
      &:hover{
        background-color: rgb(0, 0, 0);
        transition: 0.7s;
        transform: scale(1.1);
        border: 2px solid $bordercolor;
    }
  }
}