@import './variables';

@media only screen and (max-width: 1023px){
  .links-profile-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1.5em;
  }

  .links-profile-header{
    color: white;
    text-align: center;
  }

  
  .links-profile-para{
    color: rgba(255, 255, 255, 0.714);
    width: 70%;
    margin-top: 0.5em;
    text-align: center;
  }


  .link-container{
    margin-top: 1em;
    width: 90%;
    height: 11vh;
    padding: 0.5em;
    background-color: #121212;
    border: 2px solid rgba(255, 255, 255, 0.279);
  }

  .link-data{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .link-img-small{
    margin-left: 1em;
    height: 1.5em;
    filter: brightness(0) invert(1);
  }

  .social-titles{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
  }

  .head-s-1{
    font-size: x-small;
  }
  .head-s-2{
    opacity: 0.5;
    font-size: xx-small;
  }
}

@media only screen and (min-width: 1024px){

  .links-profile-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1.5em;
  }

  .links-profile-header{
    color: white;
    text-align: center;
  }

  .links-profile-para{
    color: rgba(255, 255, 255, 0.714);
    width: 70%;
    margin-top: 0.5em;
    text-align: center;
  }

  .link-container{
      margin-top: 1em;
      width: 40%;
      height: 10vh;
      padding: 1em;
      background-color: #121212;
      border: 2px solid rgba(255, 255, 255, 0.279);
      &:hover{
        background-color: rgb(0, 0, 0);
        transition: 0.7s;
        transform: scale(1.1);
        border: 2px solid $bordercolor;
    }
  }

  .link-data{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .link-img-small{
    height: 2em;
    filter: brightness(0) invert(1);
  }

  .social-titles{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
  }

  .head-s-1{
    
  }
  .head-s-2{
    opacity: 0.5;
    font-size: x-small;
  }
}