@import './variables';


@media only screen and (max-width: 1023px){
    .navbar-wrapper{
        height: 6vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0; 
        background-color: $navbarBGcolor;
        opacity: 0;
    }
}

@media only screen and (min-width: 1024px){
    .navbar-wrapper{
        height: 6vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0; 
        opacity: 0.8;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-left: 80vw;
        padding-right: 4vw;
        background-color: $navbarBGcolor;
    }
    
}