@import './variables';

@media only screen and (max-width: 1023px){

}

@media only screen and (min-width: 1024px){
    .process-card{
        height: 80vh;
        background-color: #303030;
        width: 90%;
        margin-top: 1em;
        border-radius: 50px;

        display: grid;
        grid-template-rows: 90% 10%;
        padding: 1em;
    }


    .process-lists{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .process-list-container{
        padding: 1.5em;
    }
    
    .process-title-intro-container{
        height: 30%;
        width: 100%;
        display: flex;
        align-self: center;
        justify-content: center;
        flex-direction: column;
    } 

    .process-list{
        margin-top: 5%;
        border: 1px solid white;
        height: 60%;
        width: 100%;
    }

    .process-cta-btn{
        width: 20%;
        height: 70%;
        margin-left: 40%;
        border: 3px solid $maincolor;
        border-radius: 50px;
        color: white;
        background-color: #303030;
        cursor: pointer;
        transition: 0.7s;
        &:hover{
            transform: scale(0.9);
            background-color: #474747;
        }
    }

    .process-title{
        font-size: large;
        color: $maincolor;
        text-align: center;
    }

    .process-explain-para{
        color: rgba(255, 255, 255, 0.7);
        text-align: center;
        font-size: 12px; 
        margin-top: 1em;
    }
}   