@import './variables';

@media only screen and (max-width: 1023px){

}

@media only screen and (min-width: 1024px){
    .service-container{
        height: 75vh;
        margin-top: 1em;
        width: 100%;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.4em; 
    }

    .service-card{
        border-radius: 5%;
        background-image: linear-gradient(rgb(240, 240, 240), rgb(223, 222, 222));
        width: 100%; 
        height: 85%;
        margin-top: 1.5em;  
        display: grid;
        grid-template-rows: 30% 40% 30%;
        border-top: 5px solid $maincolor;
    }

    .main-card{
        width: 100%; 
        height: 95%;
        margin-top: 0em;
    }

    .service-offer-btn{
        grid-row: 3;
        width: 45%;
        margin-left: 27.5%;
        margin-top: 2em;
        background-color: $maincolor;
        height: 27%;
        border-radius: 50px;
        cursor: pointer;
        transition: 0.6s;
        border: 1px solid rgba(0, 0, 0, 0.632);
        &:hover{
            border: 2px solid black;
            transform: scale(1.1);
            cursor: pointer;
        }
    }

    .service-title-header{
        grid-row: 1;
        text-align: center;
        padding-top: 2em;
        color: #303030;
        font-size: x-large;
        text-shadow: 3px 3px rgba(211, 211, 211, 0.768);
    }

    .service-feat-item{
        color: rgb(45, 45, 45);
        border-bottom: 1px solid rgba(0, 0, 0, 0.231);
        padding-bottom: 0.5em;
        margin-top: 1em;
    }
    

    .main-btn-service{
        width: 50%;
        margin-left: 25%;
        height: 30%;
    }

    .main-title-service{
        font-size: xx-large;
    }

    .service-feat-list{
        width:60%;
        margin-left: 20%;
    }
}