/* Color Palette */

$maincolor: #FABFB9;
$secondarycolor: #BFB9FA;
$thirdcolor: #B9FABF;
$pageBGcolor: #303030;
$pageBGcolor2: #605f5f;
$cardBGcolor: #ebebeb;
$bordercolor: #0097A1;


/* Backgrounds */

$navbarBGcolor: #242424;
$hrBGcolor: $maincolor ;


/* Headers */

$MainHeaderGradient: $secondarycolor;
$secondaryHeader: rgba(255, 255, 255, 0.864);

/* Text Color */


/* Sizes */

$cardwidth: 60vw;