@import './variables';
@import './Navbar';
@import './mainheader';
@import './secondaryheader';
@import './landingrouter';
@import './worklist';
@import './comingsoon';
@import './endorsedcreators';
@import './footer';
@import './services';
@import './profileimg';
@import './link';
@import './aboutcard';
@import './skills';
@import './PoweredBy';
@import './HamburgerNav';




@media only screen and (min-width: 1024px){

    .copy-to-btn{
      
        position: absolute;
        top: 2vh;
        left: 3vh;
        height: 7vh;
        width: 7vh;
        border: 1px solid $maincolor; 
        background-color: rgb(20, 20, 20);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.6s;
        &:hover{
            transform: scale(1.1); 
        }
    }

   

    .share-btn{
        height:3vh;
        filter: brightness(0) invert(0.6);
    }

    #mobile-only{
        display: none;
    }
  
    strong{
        margin-left: 0.3em
    }
    
    .home-wrapper{
        height: 100%;
        width: 100vw;
        background-color: $pageBGcolor;
    }
    
    
    
    .content{
        height: 100vh;
        width: 100%;
        padding-top: 6vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .work-content{
        width: 100%;
        height: 100%;
        padding-left: 10vw;
        padding-right: 10vw;
      
        background-color: $pageBGcolor;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .endorsed-content{
        width: 100%;
        height: 100vh;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-bottom: 2em;
        background-color: $pageBGcolor2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .content-header{
        width: 20vw;
        padding-bottom: 1em;
        margin-top: 3em;
        border-bottom: 5px solid rgba(255, 255, 255, 0.775);
        font-size: medium;
        color: rgba(255, 255, 255, 0.707);
        text-align: center;
    }
    
    .services-content{
        width: 100%;
        height: 90vh;
        background-color: $pageBGcolor;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-bottom: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
    }
    
    .footer-content{
        width: 100%;
        height: 60vh;
        background-color: $navbarBGcolor;
    }
    
    .links-content{
        height: 100%;
        width: 100%;
        background-color: $pageBGcolor;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 2em;
        padding-bottom: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    
    .about-content{
        height: 100%;
        width: 100%;
        background-color: $pageBGcolor;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 2em;
        padding-bottom: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .head-cont{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15vh;
        width: 100vw;
    }

   
   
}



@media only screen and (max-width: 1023px){

   
    .copy-to-btn{
        height: 7vh;
        width: 7vh;
        border: 1px solid $maincolor; 
        border-radius: 50%;
        position: absolute;
        top: 2vh;
        left: 3vh;
        background-color: rgb(20, 20, 20);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .share-btn{
        height: 1em;
        filter: brightness(0) invert(0.6);
    }

    .footer-content{
        width: 100%;
        height: 100%;
        background-color: $navbarBGcolor;
    }

    .content{
        height: 100vh;
        width: 100%;
        padding-top: 14vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-content{
        height: 100%;
        width: 100%;
        background-color: $pageBGcolor;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 2em;
        padding-bottom: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .work-content{
        width: 100%;
        height: 100%;
        padding-left: 5vw;
        padding-right: 5vw;
        background-color: $pageBGcolor;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content-header{
        width: 90vw;
        padding-bottom: 1em;
        margin-top: 3em;
        border-bottom: 3px solid $maincolor;
        font-size: medium;
        color: $maincolor;
        text-align: center;
    }

    .services-content{
        width: 100%;
        height: 100%;
        padding-left: 5vw;
        padding-right: 5vw;
        background-color: $pageBGcolor;
       
        padding-bottom: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .links-content{
        height: 100%;
        width: 100%;
        background-color: $pageBGcolor;
        padding-top: 2em;
        padding-bottom: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


.invisible{
    display: none;
}