/* Color Palette */
/* Backgrounds */
/* Headers */
/* Text Color */
/* Sizes */
/* Color Palette */
/* Backgrounds */
/* Headers */
/* Text Color */
/* Sizes */
@media only screen and (min-width: 1024px) {
  .navbar-wrapper {
    height: 6vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #242424;
    opacity: 0.9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-left: 80vw;
    padding-right: 4vw;
  }
}

/* Color Palette */
/* Backgrounds */
/* Headers */
/* Text Color */
/* Sizes */
.header {
  background-color: #BFB9FA;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: x-large;
}

.header-underline {
  width: 5%;
  height: 0.7vh;
  background-color: #FABFB9;
  border-radius: 50px;
  margin-top: 1em;
  border: none;
}

@media only screen and (max-width: 1023px) {
  .header {
    font-size: x-large;
    font-weight: bold;
  }
  .header-underline {
    width: 30%;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    font-size: 64px;
    text-shadow: 5px 5px rgba(86, 86, 86, 0.183);
  }
  .header-underline2 {
    width: 10%;
    height: 1vh;
    background-color: #BFB9FA;
    border-radius: 50px;
    margin-top: 2em;
    border: none;
    margin-bottom: 2em;
    margin-left: 45%;
  }
}

/* Color Palette */
/* Backgrounds */
/* Headers */
/* Text Color */
/* Sizes */
.secondary-header {
  margin-top: 1.5em;
  text-align: center;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.864);
}

@media only screen and (max-width: 1023px) {
  .secondary-header {
    font-size: smaller;
    text-align: center;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.864);
    width: 80%;
  }
}

@media only screen and (min-width: 1024px) {
  .secondary-header {
    font-size: medium;
    text-align: center;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.864);
    width: 50%;
  }
}

/* Color Palette */
/* Backgrounds */
/* Headers */
/* Text Color */
/* Sizes */
@media only screen and (max-width: 1023px) {
  .landing-router {
    margin-top: 2em;
    width: 80%;
    height: 50%;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .landing-route-box {
    height: 40%;
    margin-left: 10%;
    width: 80%;
    margin-top: 1em;
    background-color: #B9FABF;
    border-radius: 5%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 70% 30%;
        grid-template-rows: 70% 30%;
  }
  .landing-route-box .landing-route-bottom {
    background-color: #242323;
  }
  .landing-route-box:hover {
    background-color: rgba(255, 255, 255, 0.864);
    -webkit-transition: 0.7s;
    transition: 0.7s;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media only screen and (min-width: 1024px) {
  .landing-router {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    height: 50%;
    width: 50%;
    margin-top: 2em;
    padding: 1em;
  }
  .landing-route-box {
    width: 100%;
    height: 90%;
    background-color: white;
    border-radius: 5%;
    border: 5px solid #00676e5e;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 70% 30%;
        grid-template-rows: 70% 30%;
  }
  .landing-route-box .landing-route-bottom {
    background-color: #242323;
    padding-top: 2em;
  }
  .landing-route-box:hover {
    -webkit-transition: 0.7s;
    transition: 0.7s;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    border: 15px solid #00676e;
  }
}

/* Color Palette */
/* Backgrounds */
/* Headers */
/* Text Color */
/* Sizes */
@media only screen and (min-width: 1024px) {
  .work-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .work-item {
    height: 60vh;
    margin-top: 2em;
    width: 60vw;
    border-radius: 50px;
    background-color: #ebebeb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 4px solid #00676e;
  }
  .work-item-r {
    height: 60vh;
    margin-top: 2em;
    width: 60vw;
    border-radius: 50px;
    background-color: #ebebeb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    border: 4px solid #00676e;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .work-content-header {
    margin-top: 2em;
    border-bottom: 5px solid black;
  }
  .work-svg-holder {
    width: 40%;
  }
  .work-details {
    width: 60%;
    height: 100%;
    padding-top: 4em;
    padding-bottom: 2em;
    padding-left: 3em;
    padding-right: 3em;
  }
  .work-title {
    text-align: center;
    border-bottom: 2px solid #303030;
    padding-bottom: 1em;
    width: 80%;
    margin-left: 10%;
  }
  .work-para {
    width: 80%;
    margin-left: 10%;
    margin-top: 1em;
    text-align: center;
    font-size: small;
    opacity: 0.9;
  }
  .work-link {
    background-color: #00676e;
    height: 5vh;
    width: 40%;
    margin-left: 30%;
    margin-top: 1.4em;
    border: 2px solid #515151;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .work-link:hover {
    border: 5px solid #141414;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

/* Color Palette */
/* Backgrounds */
/* Headers */
/* Text Color */
/* Sizes */
@media only screen and (min-width: 1024px) {
  .coming-soon-card {
    width: 60vw;
    background-color: #ebebeb;
    height: 80vh;
    border-radius: 50px;
    margin-top: 1em;
  }
}

/* Color Palette */
/* Backgrounds */
/* Headers */
/* Text Color */
/* Sizes */
@media only screen and (min-width: 1024px) {
  .endorsed-creator-grid {
    width: 100vw;
    height: 90%;
    background-color: #303030;
  }
  .endorsed-creator-card {
    width: 100%;
    height: 100%;
    background-color: #ebebeb;
  }
  .content-header-end {
    widows: 50%;
    text-align: center;
    color: white;
    margin-top: 2em;
  }
  .grid-endorse {
    margin-top: 1.5em;
    margin-left: 15vw;
    width: 70vw;
    height: 70%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    padding-top: 1em;
    border-top: 2px solid white;
    grid-gap: 1em;
  }
}

/* Color Palette */
/* Backgrounds */
/* Headers */
/* Text Color */
/* Sizes */
@media only screen and (min-width: 1024px) {
  .footer-container {
    height: 100%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 90% 10%;
        grid-template-rows: 90% 10%;
  }
  .footer-bottom {
    -ms-grid-row: 2;
    grid-row: 2;
    background-color: #191919;
    width: 100%;
    height: 100%;
  }
}

/* Color Palette */
/* Backgrounds */
/* Headers */
/* Text Color */
/* Sizes */
@media only screen and (min-width: 1024px) {
  .service-container {
    height: 65vh;
    margin-top: 1em;
    width: 80%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
  }
  .service-card {
    background-color: white;
    width: 100%;
    height: 90%;
    margin-top: 1em;
  }
}

/* Color Palette */
/* Backgrounds */
/* Headers */
/* Text Color */
/* Sizes */
@media only screen and (min-width: 1024px) {
  .profile-img {
    height: 18vh;
    width: 18vh;
    background-color: white;
    margin-top: 2em;
    border-radius: 50%;
    background-size: cover;
    margin-bottom: 2em;
  }
}

/* Color Palette */
/* Backgrounds */
/* Headers */
/* Text Color */
/* Sizes */
@media only screen and (min-width: 1024px) {
  .links-profile-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2em;
  }
  .links-profile-header {
    color: white;
    text-align: center;
  }
  .links-profile-para {
    color: rgba(255, 255, 255, 0.714);
    width: 70%;
    margin-top: 0.5em;
    text-align: center;
  }
  .link-container {
    margin-top: 1em;
    width: 50%;
    height: 13vh;
    background-color: #636161;
  }
  .link-container:hover {
    background-color: #b5b2b2;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .link-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .link-img-small {
    height: 2em;
    -webkit-filter: brightness(0);
            filter: brightness(0);
  }
}

/* Color Palette */
/* Backgrounds */
/* Headers */
/* Text Color */
/* Sizes */
@media only screen and (min-width: 1024px) {
  .about-card {
    height: 70vh;
    width: 60%;
    border: 2px solid white;
  }
}

/* Color Palette */
/* Backgrounds */
/* Headers */
/* Text Color */
/* Sizes */
@media only screen and (min-width: 1024px) {
  .skills-wrapper {
    height: 90vh;
    width: 60%;
    margin-top: 2em;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  .skill-collection {
    height: 100%;
    width: 100%;
    border: 2px solid white;
  }
}

.home-wrapper {
  height: 100%;
  width: 100vw;
  background-color: #303030;
}

.content {
  height: 100vh;
  width: 100%;
  padding-top: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-content {
  width: 100%;
  height: 100%;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 2em;
  background-color: #605f5f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.endorsed-content {
  width: 100%;
  height: 100vh;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 2em;
  background-color: #605f5f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-header {
  margin-top: 1em;
  padding-bottom: 1em;
  border-bottom: 5px solid rgba(255, 255, 255, 0.775);
  font-size: medium;
  color: rgba(255, 255, 255, 0.707);
}

.services-content {
  width: 100%;
  height: 80vh;
  background-color: #303030;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-content {
  width: 100%;
  height: 60vh;
  background-color: #242424;
}

.links-content {
  height: 100%;
  width: 100%;
  background-color: #303030;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 2em;
  padding-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-content {
  height: 100%;
  width: 100%;
  background-color: #303030;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 2em;
  padding-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=styles.css.map */