@media only screen and (max-width: 1023px){
  .LandingImg{
    height: 85%;
    width: 90%;
    display: grid;
    grid-template-rows: 15% 85%;
    border-radius: 12px;
    margin-top: 1.5em;
  }

  .btn_container{
    grid-row: 1;
    height: 100%;
    width: 100%;
    background-color: #1b1b1b;
    padding: 1em;
    padding-bottom: 0.5em;
  }

  .img_bg{
    background: url('https://i.imgur.com/eEAJxfv.jpg?1');
    background-size: cover;
  }

  .announcement_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
  }

  .announcement_main{
    color: white;
  }

  .announcement_second{
    color: rgba(255, 255, 255, 0.5);
  }

  .landing_link{
    border: 1px solid white;
    padding: 0.3em;
    background-color: white;
    color: black;
  }
}

@media only screen and (min-width: 1023px){
  .LandingImg{
    height: 90%;
    width: 30%;
    display: grid;
    grid-template-rows: 15% 85%;
    border-radius: 12px;
    margin-top: 0.5em;
  }

  .btn_container{
    grid-row: 1;
    height: 100%;
    width: 100%;
    background-color: #1b1b1b;
    padding: 1em;
    padding-bottom: 0.5em;
  }

  .img_bg{
    background: url('https://i.imgur.com/eEAJxfv.jpg?1');
    background-size: cover;
  }

  .announcement_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
  }

  .announcement_main{
    color: white;
  }

  .announcement_second{
    color: rgba(255, 255, 255, 0.5);
  }

  .landing_link{
    border: 1px solid white;
    padding: 0.3em;
    background-color: white;
    color: black;
  }
}